<!-- section hero -->
<section class="hero background parallax shadow-dark d-flex align-items-center" id="home" data-image-src="https://via.placeholder.com/900x600">
    <div class="cta mx-auto mt-2">
        <h1 class="mt-0 mb-4">I’m <%= name%><span class="dot"></span></h1>
        <p class="mb-4">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
        <a href="#" class="btn btn-default btn-lg mr-3"><i class="icon-grid"></i>View Portfolio</a>
        <div class="spacer d-md-none d-lg-none d-sm-none" data-height="10"></div>
        <a href="#" class="btn btn-border-light btn-lg"><i class="icon-envelope"></i>Hire me</a>
    </div>
    <div class="overlay"></div>
</section>