<button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div class="header-inner d-flex align-items-start flex-column">
    <a href="/"><img src="https://via.placeholder.com/70x70" alt="Bako Doe" /></a>
    <a href="/" class="site-title dot mt-3"><%= name%></a>
    <span class="site-slogan">Dev Profile</span>
    <a href="/Signup" class="bi bi-arrow-return-right dot mt-3">Signup</a>
    
    
    <!-- navigation menu -->
    <nav>
        <ul class="vertical-menu scrollspy">
            <li><a href="/" class="active"><i class="icon-home"></i>Home</a></li>
            <li><a href="/profile-user#works"><i class="icon-user"></i>Users</a></li>
        </ul>
    </nav>
    
    <!-- footer -->
    <div class="footer mt-auto">

        <!-- social icons -->
        <ul class="social-icons list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
        </ul>

        <!-- copyright -->
        <span class="copyright">© 2020 Bako Template</span>
    </div>
</div>