<div class="mobile-header py-2 px-3 mt-4">
    <button class="menu-icon mr-2">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <a href="index.html" class="logo"><img src="https://via.placeholder.com/70x70" alt="Bako Doe" /></a>
    <a href="index.html" class="site-title dot ml-2"><%= name%></a>
</div>